{% set page_title = 'Freeplus' %}
{% extends "../elements/_base.twig" %}

{% block content %}

{% include "../elements/_header.twig" %}
<div class="main_content">
    <div class="block block1 homepage" id="homepage">
        <div class="block1__wrap block1__slider">
            {% for i in  1..3 %}
            <div class="block1__item">
                <figure class="block1__img">
                    <img alt="" src="./assets/images/block1-img.jpg">
                </figure>
                <div class="block1__content">
                    <h2 class="block1__title">At vero eos et accusamus et iusto odio dignissimos</h2>
                    <h3 class="block1__des">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</h3>
                    <a href="#" class="button button-white">DISCOVER MORE</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="block block2 about" id="about">
        <div class="block2__wrap d-flex">
            <div class="block2__left wow fadeInUp" data-wow-delay="0.1s">
                <img alt="" src="./assets/images/block2-img.jpg">
            </div>
            <div class="block2__right wow fadeInUp" data-wow-delay="0.2s">
                <div class="block2__logo">
                    <img alt="" src="./assets/images/block2-logo.jpg">
                </div>
                <div class="block2__title">
                    At vero eos et accusamus et iusto odio dignissimos
                </div>
                <div class="block2__des">
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="block block3 product" id="product">
        <div class="block3__wrap">
            <div class="block3__heading wow fadeInUp" data-wow-delay="0.1s">
                <div class="block3__heading-wrap">
                    <h2 class="block3__title">our product</h2>
                    <h3 class="block3__sub-title">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati.</h3>
                </div>
            </div>
            <div class="block3__content">
                <ul class="nav nav-tabs wow fadeInUp" data-wow-delay="0.2s" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tab1">Sản phẩm bán chạy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab2">Sản phẩm mới</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab3">Sản phẩm khuyến mãi</a>
                    </li>
                </ul>
                <div class="tab-content wow fadeInUp" data-wow-delay="0.3s">
                    <div class="tab-pane fade show active" id="tab1">
                        <div class="block3__tab  block3__tab-slider">
                            {% for i in  1..6 %}
                            <div class="block3__tab-item">
                                <figure class="block3__tab-img">
                                    <img alt="" src="./assets/images/block3-img-1.png">
                                </figure>
                                <div class="block3__tab-text">
                                    <div class="block3__tab-title">
                                        Sed ut perspiciatis unde omnis iste
                                    </div>
                                    <div class="block3__tab-subtitle">
                                        Odio dignissimos ducimus qui blanditiis praesentium voluptatum
                                    </div>
                                    <div class="block3__tab-btn">
                                        <a
                                            href="#"
                                            data-toggle="modal"
                                            data-target="#product-modal"
                                            class="button button-blue"
                                        >DISCOVER MORE</a>
                                        <a href="#" class="button button-white-outline">FIND STORE</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <div class="block3__tab  block3__tab-slider">
                            {% for i in  1..6 %}
                            <div class="block3__tab-item">
                                <figure class="block3__tab-img">
                                    <img alt="" src="./assets/images/block3-img-1.png">
                                </figure>
                                <div class="block3__tab-text">
                                    <div class="block3__tab-title">
                                        Sed ut perspiciatis unde omnis iste
                                    </div>
                                    <div class="block3__tab-subtitle">
                                        Odio dignissimos ducimus qui blanditiis praesentium voluptatum
                                    </div>
                                    <div class="block3__tab-btn">
                                        <a
                                            href="#"
                                            data-toggle="modal"
                                            data-target="#product-modal"
                                            class="button button-blue"
                                        >DISCOVER MORE</a>
                                        <a href="#" class="button button-white-outline">FIND STORE</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab3">
                        <div class="block3__tab  block3__tab-slider">
                            {% for i in  1..6 %}
                            <div class="block3__tab-item">
                                <figure class="block3__tab-img">
                                    <img alt="" src="./assets/images/block3-img-1.png">
                                </figure>
                                <div class="block3__tab-text">
                                    <div class="block3__tab-title">
                                        Sed ut perspiciatis unde omnis iste
                                    </div>
                                    <div class="block3__tab-subtitle">
                                        Odio dignissimos ducimus qui blanditiis praesentium voluptatum
                                    </div>
                                    <div class="block3__tab-btn">
                                        <a href="#" class="button button-blue">DISCOVER MORE</a>
                                        <a href="#" class="button button-white-outline">FIND STORE</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block block4">
        <h2 class="block4__title wow fadeInUp" data-wow-delay="0.1s"> thấu hiểu làn da hơn</h2>
        <div class="block4__wrap  wow fadeInUp" data-wow-delay="0.2s">
            <div class="block4__slider">
                {% for i in  1..3 %}
                <div class="block4__item">
                    <figure class="block4__item-img">
                        <img alt="" src="./assets/images/block4-img-{{i}}.jpg">
                    </figure>
                    <div class="block4__item-text">
                        <div class="block4__item-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
                        <a
                            href="#"
                            class="block4__item-link"
                            data-toggle="modal"
                            data-target="#News"
                        >Read more ></a>
                    </div>
                </div>
                {% endfor %}
                {% for i in  1..3 %}
                <div class="block4__item">
                    <figure class="block4__item-img">
                        <img alt="" src="./assets/images/block4-img-{{i}}.jpg">
                    </figure>
                    <div class="block4__item-text">
                        <div class="block4__item-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
                        <a
                            href="#"
                            class="block4__item-link"
                            data-toggle="modal"
                            data-target="#News"
                        >Read more ></a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="block4__slider-arrow">
                <figure class="slick-prev slick-arrow">
                    <img src="./assets/images/transparent-arrow-left.png" alt="">
                </figure>
                <figure class="slick-next slick-arrow">
                    <img src="./assets/images/transparent-arrow-right.png" alt="">
                </figure>
            </div>
        </div>
    </div>
    <div class="block block5">
        <div class="block5__wrap">
            <h2 class="block5__title wow fadeInUp" data-wow-delay="0.1s">khách hàng tin dùng</h2>
            <div class="block5__content">
                <div class="block5__arrow">
                    <button type="button" class="slick-arrow slick-prev">
                        <img src="./assets/images/arrow-left-trans.png" alt="">
                    </button>
                    <button type="button" class="slick-arrow slick-next">
                        <img src="./assets/images/arrow-right-trans.png" alt="">
                    </button>
                </div>
                <div class="block5__slider wow fadeInUp" data-wow-delay="0.2s">
                    {% for i in  1..3 %}
                    <div class="block5__item d-flex">
                        <div class="block5__right">
                            <div class="block5__item-content">
                                <div class="block5__item-title">Hà Vũ - NVVP</div>
                                <div class="block5__item-des">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</div>
                                <div class="block5__item-btn">
                                    <a href="#" class="button button-blue">DISCOVER MORE</a>
                                    <a href="#" class="button button-white-outline">BUY NOW</a>
                                </div>
                            </div>
                        </div>
                        <div class="block5__left">
                            <figure class="block5__img">
                                <img src="./assets/images/block5-img-right.jpg" alt="khách hàng tin dùng">
                            </figure>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="block block6">
        <div class="block6__wrap">
            <div class="block6__slider wow fadeInUp" data-wow-delay="0.1s">
                {% for i in  1..3 %}
                <div class="block6__item">
                    <div class="block6__img">
                        <img alt="" class="img" src="./assets/images/block6-img-{{i}}.jpg">
                        <a data-fancybox-type="iframe" href="https://www.youtube.com/embed/_MXyU5D6D-g?&autoplay=1&mute=1&loop=1&rel=0&showinfo=0" class="fancybox">
                            <img alt="" class="icon" src="./assets/images/icon-play.png">
                        </a>
                    </div>
                    <div class="block6__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                </div>
                {% endfor %}
                {% for i in  1..3 %}
                <div class="block6__item">
                    <div class="block6__img">
                        <img alt="" class="img" src="./assets/images/block6-img-{{i}}.jpg">
                        <a data-fancybox-type="iframe" href="https://www.youtube.com/embed/_MXyU5D6D-g?&autoplay=1&mute=1&loop=1&rel=0&showinfo=0" class="fancybox">
                            <img alt="" class="icon" src="./assets/images/icon-play.png">
                        </a>
                    </div>
                    <div class="block6__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                </div>
                {% endfor %}
            </div>
            <div class="block6__slider-arrow">
                <figure class="slick-prev slick-arrow">
                    <img src="./assets/images/transparent-arrow-left.png" alt="">
                </figure>
                <figure class="slick-next slick-arrow">
                    <img src="./assets/images/transparent-arrow-right.png" alt="">
                </figure>
            </div>
        </div>
    </div>
    <div class="block block7 contactus" id="contactus">
        <div class="block7__wrap d-flex">
            <div class="block7__left wow fadeInUp" data-wow-delay="0.1s">
                <figure class="block7__img wow">
                    <img alt="" src="./assets/images/block7-img.png">
                </figure>
            </div>
            <div class="block7__right">
                <h2 class="block7__title">
                    register and get
                    <br>
                    free sample
                </h2>
                <form method="POST" class="block7__form form">
                    <div class="block7__form-wrap">
                        <div class="form-group wow fadeInUp" data-wow-delay="0.35s">
                            <input
                                class="form-control block7Name"
                                name="name"
                                type="text"
                                placeholder="Your Name"
                            >
                        </div>
                        <div class="form-group wow fadeInUp" data-wow-delay="0.4s">
                            <input
                                class="form-control block7Phone"
                                name="phone"
                                type="number"
                                placeholder="Your Phone Number"
                            >
                        </div>
                        <div class="form-group wow fadeInUp" data-wow-delay="0.45s">
                            <input
                                class="form-control block7Email"
                                name="email"
                                type="text"
                                placeholder="Your Email"
                            >
                        </div>
                        <div class="form-group wow fadeInUp" data-wow-delay="0.5s">
                            <textarea
                                cols="2"
                                placeholder="Your Address"
                                class="form-control block7Email"
                                name="email"
                            ></textarea>
                        </div>
                    </div>
                    <button class="button button-blue wow fadeInUp" data-wow-delay="0.55s">DISCOVER MORE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="block block8 store" id="store">
        <div class="block8__wrap">
            <div class="block8__heading wow fadeInUp" data-wow-delay="0.1s">
                <div class="block8__title">our stores</div>
                <div class="block8__sub-title">At vero eos et accusamus et iusto odio dignissimos ducimus qui</div>
            </div>
            <div class="block8__content wow fadeInUp" data-wow-delay="0.2s">
                <figure class="slick-prev slick-arrow">
                    <img src="./assets/images/transparent-arrow-left.png" alt="">
                </figure>
                <div class="block8__slider">
                    {% for i in  1..11 %}
                    <a href="#" class="block8__item">
                        <img alt="" class="icon" src="./assets/images/store{{i}}.jpg">
                    </a>
                    {% endfor %}
                </div>
                <figure class="slick-next slick-arrow">
                    <img src="./assets/images/transparent-arrow-right.png" alt="">
                </figure>
            </div>
        </div>
    </div>
    <div class="block block9">
        <div class="block9__wrap d-flex">
            <a class="block9__logo wow fadeIn" data-wow-delay="0.1s" href="#">
                <img src="./assets/images/block9-logo.png" alt="Thông tin  liên hệ">
            </a>
            <div class="block9__about wow fadeIn" data-wow-delay="0.2s">
                <div class="block9__about--content">
                    <div class="block9__about--item">
                        <div class="block9__label">Thông tin  liên hệ</div>
                        <div class="block9__contact-text">Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium, totam rem</div>
                    </div>
                    <div class="block9__about--item mb-0">
                        <div class="block9__label">hotline:</div>
                        <a href="tel:9999999999" class="block9__phone mb-0">
                            999 999 9999
                        </a>
                    </div>
                </div>
            </div>
            <div class="block9__contact wow fadeIn" data-wow-delay="0.3s">
                <div class="block9__label">
                    connect with us
                </div>
                <div class="block9__social">
                    <a href="./#">
                        <img src="./assets/images/icon-ins-white.png" alt="instagram">
                    </a>
                    <a href="./#">
                        <img src="./assets/images/icon-fb-white.png" alt="facebook">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{# modal news #}
<div
    class="modal fade in show news-modal"
    id="News"
    tabindex="-1"
    role="dialog"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <figure class="close" data-dismiss="modal" aria-label="Close">
                <img src="./assets/images/close-product.png" alt="">
            </figure>
            <div class="modal-body">
                <div class="news-modal__title">
                    NHỮNG DỰ ÁN ĐỊNH HƯỚNG PHÁT TRIỂN HẠ TẦNG TP. THỦ ĐỨC
                </div>
                <div class="news-modal__time">
                    30 Jan 2020
                </div>
                <div class="news-modal__content">
                    <p>
                        Theo ông Trần Văn Bảy, Chủ tịch UBND quận 9, do những tuyến đường được đầu tư, nâng cấp thuộc
                        trục giao thông chính của khu vực, mang tính chất kết nối liên quận, liên phường nên việc đầu tư
                        nhằm thúc đẩy phát triển hạ tầng chung, đặc biệt, sẽ định hướng phát triển hạ tầng TP. Thủ Đức
                        trong tương lai.
                    </p>
                    <p>
                        Trao đổi với Nhadautu.vn, ông Trần Văn Bảy, Chủ tịch UBND quận 9 cho biết, ngoài những dự án đang
                        được triển khai, thì hiện quận và Ban quản lý dự án đầu tư xây dựng các công trình giao thông
                        TP.HCM đã lập thủ tục xin chủ trương UBND TP.HCM tiến hành thực hiên nâng cấp, mở rộng một số
                        tuyến đường trọng điểm trên địa bàn trong giai đoạn từ 2021-2025.
                    </p>
                    <p>
                        “Hiện một vài đoạn trên các tuyến đường như Đỗ Xuân Hợp, Lò Lu, Nguyễn Duy Trinh… đã được triển
                        khai trước đó, còn một số khác đã lập thủ tục đề xuất và vẫn đang trong quá trình chờ phê duyệt
                        của UBND TP.HCM để thực hiện”, ông Bảy thông tin.
                    </p>
                    <p>
                        Trong khi đó, nói về mục tiêu đầu tư những tuyến đường, ông Bảy cho hay, do đây là các trục giao
                        thông chính của khu vực, mang tính chất kết nối liên quận, liên phường nên việc đầu tư nhằm thúc
                        đẩy phát triển hạ tầng chung, đặc biệt, sẽ định hướng phát triển hạ tầng TP. Thủ Đức trong tương
                        lai.
                    </p>
                    <p>
                        Đường Đỗ Xuân Hợp

                        Về hiện trạng, dự án có lý trình từ ngã tư đường Bình Thái đến Nguyễn Duy Trinh, đường bê tông
                        nhựa nóng, với bề rộng mặt đường khoảng 7m-10m (lộ giới 30m) và có chiều dài khoảng 4.769m.

                        Theo UBND quận 9, trên tuyến này hiện có 2 dự án đang triển khai thi công là dự án Xây dựng cầu
                        Nam Lý, có tổng mức đầu tư khoảng 529 tỷ đồng; dự án nâng cấp, mở rộng đường Đỗ Xuân Hợp đoạn từ
                        cầu Nam Lý đến đường Nguyễn Duy Trinh với quy mô rộng 30m, chiều dài 1.830m, có tổng mức đầu tư
                        phần xây lắp khoảng 360 tỷ đồng (chưa tính chi phí bồi thường và lập dự án bồi thường riêng).
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{# modal product #}
<div
    class="modal fade in show product-modal"
    id="product-modal"
    tabindex="-1"
    role="dialog"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <figure class="close" data-dismiss="modal" aria-label="Close">
                <img src="./assets/images/close-product.png" alt="">
            </figure>
            <div class="modal-body">
                <div class="product-modal__content d-flex">
                    <div class="product-modal__left">
                        <div class="product-modal__for">
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                        </div>
                        <div class="product-modal__nav">
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                            <figure class="img">
                                <img alt="" src="./assets/images/block3-img-1.png">
                            </figure>
                        </div>
                    </div>
                    <div class="product-modal__right">
                        <div class="product-modal__title">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                        </div>
                        <div class="product-modal__des f-flex">
                            <div class="text">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                            </div>
                            <a href="#" class="button button-white-outline">find store</a>
                        </div>
                        <div class="product-modal__detail">
                            <div class="product-modal__detail-wrap">
                                <div class="product-modal__detail-item">
                                    <div class="product-modal__detail-title">1. GIới thiệu</div>
                                    <span> Sữa Rửa Mặt Freeplus Dưỡng Ẩm Dịu Nhẹ Cho Da Mild Soap A là giải pháp làm sạch dành riêng cho da nhạy cảm với các ưu điểm tuyệt vời:</span>
                                    <ul>
                                        <li> - Khả năng tạo bọt dày mịn, làm sạch nhẹ nhàng và hiệu quả, hạn chế việc ma sát trong khi rửa mặt có khả năng gây tổn thương hoặc kích ứng da.</li>
                                        <li>- Thành phần làm sạch từ Amino Acid, giúp da không mất đi độ ẩm sau khi rửa mặt</li>
                                        <li>- Chiết xuất Hồng Táo, Trần Bì củng cố lớp sừng cho da, giúp làn da luôn khoẻ.</li>
                                    </ul>
                                </div>
                                <div class="product-modal__detail-item">
                                    <div class="product-modal__detail-title">2. THÀNH PHẦN CHÍNH:</div>
                                    <span>6 loại thảo mộc Đông Phương giúp tăng sức đề kháng cho da chống lại các tác nhân gây viêm nhiễm:</span>
                                    <ul>
                                        <li> - Khả năng tạo bọt dày mịn, làm sạch nhẹ nhàng và hiệu quả, hạn chế việc ma sát trong khi rửa mặt có khả năng gây tổn thương hoặc kích ứng da.</li>
                                        <li>- Thành phần làm sạch từ Amino Acid, giúp da không mất đi độ ẩm sau khi rửa mặt</li>
                                        <li>- Chiết xuất Hồng Táo, Trần Bì củng cố lớp sừng cho da, giúp làn da luôn khoẻ.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
